body {
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;

}


section {
    
    padding: 2em 1em;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
   
}


h2 {
    font-size: 2.5em;
    text-shadow: 5px 5px #051f2b;
}

h3 {
    font-size: 2.0em;
    text-shadow: 3px 3px #051f2b;
}

.resolved-function-screen,
.hide-screen-btn
 {
    display: none;
    

}

.function-question,
.resolved-function-screen {
    background: black;
    border: 2px solid rgb(4, 185, 4);
    width: 50%;
    padding-left: 1em;
}

button {
    margin: 1em 0;
    padding: 0.8em 1.2em;
    
}

p {
    font-size: 1.2em;
    line-height: 1.4;
}

li {
    padding: 0.3em;
    font-size: 1.1em;
}

