body {
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;

}


section {
    padding-left: 1em;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;

}

h2 {
    font-size: 2em;
    text-shadow: 5px 5px #051f2b;
}

h3 {
    text-shadow: 3px 3px #051f2b;
}

.answer-one {
    display: none;
    

}

.functionOP {
    background: black;
    border: 2px solid rgb(4, 185, 4);
    width: 50%;
}

.functionOP p {
    padding-left: 1em;

}